html, body {
  height: 100%;
}

body {
  font-family: 'Karla', sans-serif;
  line-height: 1.5;
  margin: 0 auto;
  color: #333;
  background: #fefffe;
  display: table;
}

#content {
  display: table-cell;
  vertical-align: middle;
  max-width: 34em;
  padding: 1em;
}

h1 {
  margin: 0;
  font-family: 'Merriweather', sans-serif;
}

a {
  color: #000;
  text-decoration: none;
  border-bottom: 2px solid #eee;
}
a:hover {
  border-color: pink;
}

.links {
  text-align: center;
  margin-bottom: 0;
}

/* animations */

@-webkit-keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: scale(.97);
  }
  100% {
    opacity: 1;
  }
}

#content {
  -webkit-animation-fill-mode: forwards;
  -webkit-animation-name: fadeInUp;
  -webkit-animation-duration: 1s;
}
